{% extends 'base.html.twig' %}

{% block title %}Retrouvez votre mot de passe{% endblock %}

{% block container %}
    <div class="row justify-content-center mt-4">
        <div class="col col-md-8 col-lg-6 col-xl-4">
            <div class="card">
                <div class="card-body">
                    <h3>{{ block('title') }}</h3>
                    <form method="post">
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">E-mail</label>
                            <input type="email" class="form-control" name="email" autocomplete="username" id="inputEmail" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block" value="Envoyer">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}