<p>Bonjour,</p>
<p>Ton compte vient d'être créé sur <a href="{{ url('index') }}">Planeur-Bailleau</a>.</p>
<p>Pour configurer ton accès, continues ton inscription en cliquant sur le lien suivant :</p>
<p>
    <a href="{{ url('security_invitation', {'code': user.invitationCode}) }}">Créer mon compte</a>
</p>