<p>Bonjour,</p>
<p>Vous avez demandé à renouveler votre mot de passe sur <a href="{{ url('index') }}">Planeur-Bailleau</a>.</p>
<p>Pour re-configurer votre accès, cliquez sur le lien suivant :</p>
<p>
    <a href="{{ url('security_request', {'password': password.code}) }}">Modifier votre mot de passe</a>
</p>