{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<div class="container bg-dark">
    <h1>Hello World</h1>
    <i class="fas fa-user"></i>
</div>
{% endblock %}
