@import "include";

@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

body {
  font-family: "Roboto", sans-serif;
  background-color: #f3f3f3;
  font-size: 13px;
}

header {
  background: #fff;
  font-size: 14px;
  font-weight: 300;

  .navbar {
    @include media-breakpoint-up(lg) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .navbar-brand {
    padding: 0;

    img {
      height: 30px;
    }
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
  }

  .navbar-nav {
    margin-top: 10px;

    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }

    .nav-item {
      padding: 5px 20px;

      .nav-link {
        color: $primary;

        &.dropdown-toggle::after {
          float: right;
          margin-top: 10px;

          @include media-breakpoint-up(md) {
            float: none;
            margin-left: 15px;
            margin-top: 0;
          }
        }
      }

      .dropdown-menu {
        margin-bottom: 20px;

        a {
          text-transform: none;
        }
      }

      &.active {
        background-color: $primary;

        .nav-link {
          color: #fff !important;
        }
      }

      @include media-breakpoint-up(md) {
        &:hover {
          background-color: $primary;

          .nav-link {
            color: #fff !important;
          }
        }
      }
    }
  }
}

body > .container {
  margin-top: 30px;
  position: relative;

  & > h1 {
    clear: both;
  }
}

#admin {
  a {
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
  }
}

.filters {
  margin-bottom: 20px;

  @include media-breakpoint-up(md) {
    position: absolute;
    right: 15px;
    top: 0;

    .row {
      flex-wrap: nowrap;
    }
  }
}

.a2lix_translations {
  .nav {
    margin-bottom: 10px;
  }
  .nav-item:first-letter {
    margin-right: 10px;
  }
}

#map {
  height: 400px;
  background-color: lightgray;
}

.text-legal {
  font-size: 10px;
  text-align: justify;
}

footer {
  padding: 20px 0;

  img {
    width: 200px;
    margin-bottom: 10px;
  }
}

.uploadedFileTypeImage {
  text-align: center;

  img {
    display: inline-block;
    max-width: 400px;
    margin: 10px;
  }
}