@import "include";

@import '~bootstrap/scss/bootstrap-grid';

body > header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1
}

#banner {
  position: relative;
  height: 100vh;
  background-image: url('../images/background.jpg');
  background-size: cover;
  text-align: center;
  background-position: 40%;

  @include media-breakpoint-up(sm) {
    background-position: 35%;
  }

  @include media-breakpoint-up(md) {
    background-position: 30%;
  }

  @include media-breakpoint-up(xl) {
    background-position: center;
  }

  img {
    position: absolute;
    width: 300px;
    bottom: 100px;
    right: calc(50% - 170px);

    @include media-breakpoint-up(xl) {
       bottom: 200px;
       right: 150px;
     }
  }
}