{% extends 'base.html.twig' %}

{% block title %}{{ post.title }} - {{ 'nav.post' | trans }}{% endblock %}

{% block container %}
    <h1>{{ post.title }}</h1>
    {{ post.content | raw }}
{% endblock %}